[2021-09-17 16:56] WatchMkr opened #1 "Match 21.10 Workspace Picker to the COSMIC design"
Styling has been slightly updated from 21.04
![image](https://user-images.githubusercontent.com/3430283/133832620-c82d9e96-dd59-43c6-8d38-5cfe5990f878.png)

See more mockups here: https://www.figma.com/file/6vzaICveLGHnUqZrZ8XVrn/Workspaces-search?node-id=296%3A22007

[2021-09-17 17:06] jackpot51 commented on #1
Moving to vertical-overview, since the code for the workspace picker is there.

[2021-09-17 17:20] WatchMkr opened #2 "Cosmic Dock should dodge the Workspace Picker when on the same side"

[2021-09-17 17:57] WatchMkr commented on #1
Workspace picker corner radii and styling also here: https://www.figma.com/file/6vzaICveLGHnUqZrZ8XVrn/Workspaces-search?node-id=116%3A1991

[2021-09-21 19:29] ids1024 commented on #2
Should be fixed by https://github.com/pop-os/gnome-shell-extension-vertical-overview/commit/d4e1d892bc074b3a4766b66f093586eb972c6308.

[2021-09-21 19:29] #2 closed, assigned to ids1024

[2021-09-27 16:09] ids1024 commented on #1
This is improved in the current `master_impish` code, though it could still use more tweaks.

[2021-09-30 03:25] WatchMkr commented on #1
Cool, reassigning to @isantop for final touches.

[2021-10-06 22:49] leviport opened #4 "21.10: Window previews sometimes don't dodge the workspace picker in applications view"
This doesn't seem to be happening on my main work machine, but I have seen it on a couple testing machines. The screenshots pretty much say it all:

![Screenshot from 2021-10-06 15-15-56](https://user-images.githubusercontent.com/13512097/136293857-dc39c142-bb2f-4af2-8dd4-57d30f1d84bc.png)
![Screenshot from 2021-10-06 15-18-04](https://user-images.githubusercontent.com/13512097/136293860-d87021d1-

[2021-10-07 16:49] leviport opened #5 "21.10: picker previews scale strangely when many workspaces are created"
This is a lot more apparent with the new picker styling:
![Screenshot from 2021-10-07 10-03-43](https://user-images.githubusercontent.com/13512097/136428424-1f94e674-7951-4f7d-aeff-f43e8447665e.png)

but it does still happen without the styling applied:
![Screenshot from 2021-10-07 10-38-46](https://user-images.githubusercontent.com/13512097/136428313-b23a4b35-90d8-4016-8edf-1b3cbb02bfb4.png)

The

[2021-10-08 14:11] fouadzouraibi commented on #1
i don't know why there is a search in workspace overview, it has no meaning for me since we all used to super and type all i want to find, and swipe to see the workspace. But hey its good for others i guess (maybe add hide search in overview).
I was wondering about the DoT (DNS over TLS) support ? and the New gnome app Remote desktop Control ?

[2021-10-08 17:03] #1 closed, assigned to isantop

[2021-10-08 21:40] isantop commented on #4
This seems to happen most commonly when the workspaces are located on the left.

[2021-10-09 11:32] ajstrongdev commented on #1
I have a feeling it's to make the transition from GNOME to COSMIC easier. I'm very used to GNOME 40 at the moment however I'm looking to move to Pop!_OS once 21.10 has released and one thing I am wishing is that I could have workspaces + launcher combined so that I would be able to press super and type for the application I want, whilst still getting my workspace overview.

[2021-10-13 09:19] spxak1 opened #6 "Round edges on current workspace vs straight edges on unselected workspaces"
Thanks for this great extension.

A minor aesthetic issue (maybe personal) is that the current workspace has the yellow border with rounded corners while the other workspaces have the standard rectangular shape.

Any thoughts on keeping the same shape for current and other workspaces? I like the rounded corners, others may feel otherwise. Maybe an option for that too in the extension options?

Tha

[2021-10-13 09:29] spxak1 opened #7 "Animation awkwardness when "Hide scaling workspaces" enabled"
Hi again,

another minor thing to consider. When "Hide scaling workspaces" is disabled, the background image scales to the centre of the screen in an animation that reveals the dash and the workspaces picker, as if they were always hiding behind the background. This is nice.

However, if "Hide Scaling Workspaces" is enabled, and the background is not scaled to the centre, the dash and workspaces p

[2021-10-13 10:00] spxak1 opened #8 "Workspace picker over dash when Cosmic dock disabled"
The screenshot shows the problem.

![Screenshot from 2021-10-13 10-56-59](https://user-images.githubusercontent.com/29977030/137111744-7ad2db59-b7c7-4c47-bc34-3d18aa49e730.png)

There is no way to move the default dash to the other side. Also the option to move the workspace picker is found in the Gnome-Settings→Desktop→Workspaces. Rather far from where everything other setting of the vertical pic

[2021-10-13 10:11] spxak1 opened #9 "Workspace picker padding and distances from other objects"
All screenshots with the default 300/300/0 (Left Offset/Right Offset/Thumbnail position)

![Screenshot from 2021-10-13 11-04-44](https://user-images.githubusercontent.com/29977030/137112848-693aa992-387f-4593-9afa-f3eb6c6b2af9.png)

The default 1+1 screen: Too much space at the top, distance to panel not equal to distance to bottom, distance from left end not related to distance of dash to end of

[2021-10-13 15:19] leviport commented on #9
Final point is being tracked here: https://github.com/pop-os/gnome-shell-extension-vertical-overview/issues/5

[2021-10-13 15:29] isantop commented on #9
It looks like there may have been an upgrade bug, as many of the settings appear to be broken (the background isn't correct, COSMIC Dock is not in use, etc.)

[2021-10-13 15:32] isantop commented on #6
Due to the way that the workspaces are drawn, the corners can't really be rounded without some significant drawing changes to the actual code (it's not a CSS change). The rounded corners for the currently active workspace are a result of drawing the border on top of the workspace and covering the border up (so, without having square edges on the current-workspace indicator, the corners of the curr

[2021-10-13 15:45] WatchMkr commented on #1
The reason for search in workspaces is the scenario where a user spreads their windows to see what's open, doesn't have what they need, and can quickly launch it from there. We're unifying the launcher experience across the OS.

[2021-10-13 22:27] spxak1 commented on #6
Thanks for clearing this out. So does this mean that the most rectangular the current selection is, is rounder than the 3.38 version?

This is an aesthetic issue so maybe not work the time and effort. For what it's worth, if all are rectangular, maybe the yellow selection should be as rectangular as possible.

Thanks again.

[2021-10-13 22:30] spxak1 commented on #9
I will clean install and test again.

In above screenshots, COSMIC is disabled (I was testing the standard dash at the same time) and "blur my shell" is enabled (not sure if it makes a difference.

Thanks.

[2021-10-14 08:44] ajstrongdev commented on #1
Either way my muscle memory is still very much GNOME oriented, so I welcome the change

[2021-10-14 09:55] jmbuhr commented on #4
Somewhat related: My workspace picker is really tiny on the main monitor (right):
![image](https://user-images.githubusercontent.com/17450586/137295056-6bcd5456-ac04-4566-897f-7f734485fbbb.png)
The tiny orange thing in the top right corner is actually it

[2021-10-14 09:57] jmbuhr commented on #4
The vertical overview extension from https://extensions.gnome.org/extension/4144/vertical-overview/ as opposed to this fork seems to work fine for me.

[2021-10-14 16:41] isantop commented on #9
Ah yeah. There may indeed be issues when using the extension without COSMIC or COSMIC Dock, as the components are currently all designed to work together.

[2021-10-14 16:44] isantop commented on #6
Because it pertains to this discussion, the latest workspace picker styling has greatly reduced the amount that the active indicator is rounded, which helps minimize how noticeable this issue is:

![Image Pasted at 2021-10-13 10-27](https://user-images.githubusercontent.com/5883565/137360812-8d225d22-1147-4bcf-9741-56b422b7a073.png)

It seems there my be significant challenges in making the previe

[2021-10-14 17:41] spxak1 commented on #9
Is this going to be the case in the release version? A disclaimer about it may save time and effort in support questions. But ideally it'd be nice if we could mix and match (I don't use Cosmic, as I don't want a dock on my screen but still prefer the vertical workspaces). Thanks again.

[2021-10-14 17:44] spxak1 commented on #6
Thanks. This looks very nice. Is the transparency also a standard feature?

[2021-10-14 17:49] isantop commented on #6
Yes, the picker is intended to be transparent.

[2021-10-14 17:50] isantop commented on #9
I don't see the dependency on various components changing, but you can leave COSMIC enabled and disable the dock on the screen.

[2021-10-14 18:04] spxak1 commented on #9
Thanks again. I will experiment with this option. A disclaimer may save a lot of users from confusion (especially people with other docks and those who have no idea what they're doing -see reddit questions after the upgrade).

Thanks for your time.

[2021-10-14 18:04] spxak1 commented on #6
Looks great. Thank you.

[2021-10-14 18:12] #6 closed, assigned to nobody

[2021-10-16 01:17] chrsrns commented on #4
I hope this can help.

On my install, the overlapping goes away when turning off the `Vertical overview` extension, then turning it on again. It doesn't persist on reboot, though.

Also, the above "fix" works on [this issue](https://github.com/pop-os/beta/issues/224).

[2021-10-16 13:47] spxak1 opened #11 "Overview appears in front of applications if Escape is pressed after a text search."
If you open applications (super+a) start typing to search and hit Esc, the overview appears over the applications.

See video here (half way through look for when I type): https://streamable.com/cc0bpn

When vertical overview is disabled, when performing the same sequence (Super+a, then type, then Esc) will just show the workspace thumbnail.

See video here (after halfway. look for when I type): h

[2021-10-16 13:59] spxak1 commented on #7
Here's a video to demonstrate how the picker and dock **suddenly** appear.

https://streamable.com/tsi5ro

Same video shows a number of issues (Cosmic dock pushing the background image up when transitioning from overview, I'll report this in the Cosmic dock github page) and the fact that a full Alt+F2+r is required if the dock is re-enabled to centre the overview again (see end of video).

In 3.38

[2021-10-18 16:57] leviport commented on #11
Just to confirm, you're running 21.10?

[2021-10-18 18:22] spxak1 commented on #11
Yes, Clean install of the beta.

[2021-10-25 02:15] carlwgeorge opened #15 "version clarification"
This extension forked from https://github.com/RensAlthuis/vertical-overview at [version 6](https://github.com/pop-os/cosmic-workspaces/blob/b0d20b53be609d3e6bd10c0d49a43d2177db8227/metadata.json#L10).  This version in the metadata.json file so far has not changed.  The [debian changelog claims that the version is 0.1.0](https://github.com/pop-os/cosmic-workspaces/blob/39ed0f4176957cd213506bff7532b

[2021-10-26 15:26] jacobgkau commented on #4
Still seeing this on test machines; when it happens, I can't drag windows to other workspaces via the mouse on the affected display (but I can drag them to workspaces on other displays, and drag windows between displays on the active workspace.)

[2021-10-28 15:50] 13r0ck opened #16 "21.10: Incorrect scaling when connected to 4k monitor"
The workspaces view has issues scaling across monitors with different resolutions. The issue is exacerbated when scaling on the smaller monitor is greater than the bigger monitor.

Look at the workspaces view on the smaller monitor, each workspace is unusually small, and the gap at the bottom is unusually big.
![bad_scaling](https://user-images.githubusercontent.com/58987761/139288961-12747296-323

[2021-11-02 17:17] WatchMkr commented on #11
The current Applications view is being replaced in 21.10 so closing this issue.

[2021-11-02 17:17] #11 closed, assigned to nobody

[2021-11-02 17:25] WatchMkr commented on #7
@leviport we will need to remove options in the Cosmic Dock and Cosmic Workspaces extensions and suggest users visit Settings for workspace options. As such, I'm not sure that this one should stay open.

[2021-11-02 17:28] leviport commented on #7
I figured leaving it open would be a reminder to remove the option, but I'm ok with closing this if a reminder is not needed.

[2021-11-02 17:28] #7 closed, assigned to nobody

[2021-11-02 17:39] jacobgkau commented on #7
We at least have https://github.com/pop-os/beta/issues/264 still open that mentions this as well, although it's primarily covering a different issue.

[2021-11-02 21:12] WatchMkr opened #19 "Remove COSMIC Workspaces extension setting. Add button directing users to Settings."

[2021-11-03 17:47] #19 closed, assigned to nobody

[2021-11-04 23:36] 13r0ck opened #21 "Upload to Gnome Extensions"
The [READEME.md](./README.md) currently links to the vertical-overview page in gnome extensions.

This should link to a gnome extensions page for cosmic-workspaces to make it easier for users to install, but cosmic-workspaces has not been uploaded yet.

[2021-11-04 23:42] jackpot51 commented on #21
We intentionally do not want to upload this fork of vertical-overview to make sure it is installed with the correct version for the same version of Pop!_OS.

[2021-11-04 23:42] #21 closed, assigned to nobody

[2021-11-09 15:45] jackpot51 commented on #4
This is somewhat fixed by https://github.com/pop-os/cosmic-dock/commit/888ddc5f5e5a495e3cd2b232bf2a3f42c1f5f084

[2021-11-09 15:45] jackpot51 commented on #4
The only edge case left is dock on the same side as workspace picker

[2021-11-09 21:08] leviport commented on #4
Definitely much better after https://github.com/pop-os/cosmic-dock/commit/888ddc5f5e5a495e3cd2b232bf2a3f42c1f5f084

As mentioned, there is still a little overlap if the dock and the workspace picker are both on the same side.

Besides that, only one other tiny nitpick. When the picker is on the right side, the big orange close button that gets overlayed in the Workspaces view overlaps it just a li

[2021-11-18 15:37] jackpot51 commented on #16
Is this with wayland or with hidpi-daemon?

[2021-12-03 14:59] ghostcat1001001 opened #24 "Windows overlap to the Workspaces view on big screens"
Since the last optical update, windows are overlaped to the the overview of Workspaces on big screens (even with lower resolution).
Happens on Pop!_OS 21.10 on Oryp Pro (oryp6) with on Hybrid Mode as well as on NVIDIA Mode on my 28 inch external display.

When does it happens?
- only on big screens
- & only if dock and workspace are on the same site

Important?
- no, it's just a quality-of-life bu

[2021-12-03 15:00] ghostcat1001001 commented on #24
![screenshot](https://user-images.githubusercontent.com/66872288/144624018-35cbdff0-7cff-463e-b82a-da3319684492.png)

[2021-12-03 16:11] leviport commented on #24
Thank you for the report. We are tracking this issue here: https://github.com/pop-os/cosmic-workspaces/issues/4

[2021-12-03 16:11] #24 closed, assigned to nobody

[2021-12-06 16:07] jackpot51 commented on #5
Assigning to @13r0ck since he already wrote the PR fixing it. Thanks Brock!

[2021-12-08 23:56] leviport commented on #16
This was discussed in back channels some time ago, but to summarize:

- The HiDPI daemon doesn't seem to be the culprit
- It happens on X, but I'm not sure about Wayland
- I've seen it on an Nvidia-only laptop with a 4k internal display and a 1080p external display, as well as an Intel-only laptop with a 1080p internal display and a 4k external display.

The key for me was to set all displays to 1

[2021-12-21 22:10] enm4x opened #27 "21.10: search bar in workspaces view"
Hello,

First, thanks for all the works you've done on this cool distro :smile:

I've installed the latest 21.10 and found out there is no more the research bar when in workspaces mode.

Is this a bug or the new implementation ?

thanks

[2021-12-21 23:31] #5 closed, assigned to 13r0ck

[2021-12-23 10:18] duck-dev opened #42 "System freezes when opening Application Launcher"
**Distribution (run `cat /etc/os-release`):**

NAME="Pop!_OS"
VERSION="21.10"
ID=pop
ID_LIKE="ubuntu debian"
PRETTY_NAME="Pop!_OS 21.10"
VERSION_ID="21.10"
HOME_URL="https://pop.system76.com"
SUPPORT_URL="https://support.system76.com"
BUG_REPORT_URL="https://github.com/pop-os/pop/issues"
PRIVACY_POLICY_URL="https://system76.com/privacy"
VERSION_CODENAME=impish
UBUNTU_CODENAME=impish
LOGO=distribut

[2021-12-27 19:06] ghost opened #28 "Breaks touchscreen gestures"
On PopOS 21.10 the cosmic workspaces extension makes touchscreens buggy. The parent Vertical Overview extension overrides the gnome-shell overview swipe trackers to enable four finger touchpad navigation on wayland in gestures.js. Those overriden gnome-shell trackers are used for the touchscreen gestures on both X11 and Wayland. The problems come from gesture conflicts.

The overridden gestures co

[2021-12-28 04:47] rimijoker commented on #27
@enm4x in cosmic there is no research bar in the workspaces mode, but if you open the application menu, you would find the research bar there. However, if you like things the GNOME way, you can always disable cosmic specific extensions.

[2021-12-28 22:06] LearnLinuxTV opened #29 "[Feature Proposal] Named Workspaces"
I was speaking to Levi about this and decided to put in a feature request to see if this is something that can be tackled. The basic idea here is to be able to re-name your workspaces, and maybe even assign certain apps to a specific workspace. This gives GNOME a more project-oriented workflow. On my end, I use one workspace per project.

For an example of this, see the following screenshot that I

[2021-12-28 22:13] anzanhoshin commented on #29
Agreed. I would use this feature.

[2021-12-28 22:18] jacobgkau commented on #29
I believe this has been on the roadmap for some time, although I don't see another issue open to track it yet.

[2021-12-28 22:22] LearnLinuxTV commented on #29
I seem to remember it being on the roadmap too, but I can't find where I read that. In any case, I think the fact that GNOME already has this feature half-implemented with the gsettings key I mentioned, should make this orders of magnitude easier to implement. I'm not sure if I'm right, but I assume that since there's a key you'd only need to expose it in the UI in the right places, and then you'r

[2021-12-29 07:27] cobalt2727 opened #30 "workspace highlight outline doesn't match theme"
I realize this is more of a nitpick than anything else, but when the workspace overview is opened up, the outline of the currently selected workspace is stuck as orange without any way to change this based on the user's preferences - this is new behavior after having upgrade to Pop!_OS 21.10. I understand this blends in fine with the regular Pop light/dark themes, but I'm pretty sure I remember it

[2021-12-29 20:18] Mesum-Hussain commented on #29
I use the tiling window manager and wouldn't like this feature. I use a different Workspaces whenever one is full (with 4 apps open). Not necessarily use them as virtual desktops like in Windows or Mac OS.

[2021-12-29 20:25] Mesum-Hussain opened #31 "(Feature Request) Super+Tab for cycling through the Workspaces while Alt+Tab for cycling through the focused app in the tiling window manager setup."
It would be very helpful using the tiling window manager setup to be able to cycle through the Workspaces using Super+Tab and cycle through the focused window in a workspace using Alt+Tab.

[2021-12-29 20:26] LearnLinuxTV commented on #29
The beauty of this, is that if the feature doesn’t resonate with you, you can simply ignore it by not labeling your workspaces. In that case, there’s nothing different for you.

[2021-12-30 17:42] ghost opened #32 "Can't activate via Super key after suspend/resume"
**(1) Issue/Bug Description:**
clicking the activities/windows Key ( I have set it for workspaces)  don't show up the window and workspace overview. This happens when starting up the laptop and waking up from suspend mode.
This problem occurred after updating to pop os 21.10

**some workaround that works for me**
- `alt+f2 & r` resets the gnome environment and everything works perfectly until I cl

[2021-12-30 19:45] Mesum-Hussain commented on #29
Agreed. And by the way I just noticed your profile name, are you the guy from the LearnLinuxTV YouTube channel?
I see your video, good work 👍🏻.

[2021-12-30 21:20] LearnLinuxTV commented on #29
Thanks, I have a ton of fun 😀

[2021-12-30 23:00] jacobgkau opened #33 "GNOME Shell crash when locking while full-screen apps are open"
**Steps to recreate:**
1. Open a full-screen YouTube video.
2. Repeatedly lock and unlock the display.

**Observed behavior:** GNOME Shell crashes occur; on some systems (lemp10), GNOME Shell just restarts, but on other systems (reported via users on Mattermost), this causes an "Oh no! Something has gone wrong..." screen.

**Expected behavior:** No crash.

**Other notes:** The issue goes away afte

[2021-12-30 23:05] jacobgkau commented on #33
Example log output from lemp10 (crash happens around line 4704): [out2.txt](https://github.com/pop-os/cosmic-workspaces/files/7794851/out2.txt)

Example log output from user on Mattermost:

[code]

[2021-12-30 23:07] jacobgkau commented on #33
Found https://github.com/RensAlthuis/vertical-overview/pull/79 (linked from https://github.com/RensAlthuis/vertical-overview/issues/75) that may fix this.

Pulled that commit into https://github.com/pop-os/cosmic-workspaces/tree/fullscreen-lock. It included a conflict in `stylesheet.css`, so style regression testing (making sure the top bar is still rounded and the correct color) will be required.

[2022-01-07 11:02] Rick1029 opened #35 "Workspaces overview disappears after suspend until extension / shell restarted"
**Distribution (run `cat /etc/os-release`):**
 Pop 21.10

**Related Application and/or Package Version (run `apt policy $PACKAGE NAME`):**
Gnome 40.4.0 X11 (have not tried Wayland)
Cosmic version 1
Cosmic workspaces version 6
Pop shell version 2

**Issue/Bug Description:**
After a suspend and subsequently resume the workspace menu disappears. You can still gesture left and get the application over

[2022-01-08 00:38] 13r0ck commented on #35
Please give the results of `apt policy gnome-shell-extension-cosmic-workspaces` It looks like you might be on an old version.

[2022-01-08 01:07] 13r0ck commented on #35
Fixed #23

[2022-01-08 01:34] #33 closed, assigned to nobody

[2022-01-08 02:49] 13r0ck commented on #9
Closed via #23

[2022-01-08 02:49] #9 closed, assigned to nobody

[2022-01-08 02:52] 13r0ck commented on #8
I don't have a specific PR that fixed this. But the dock can now be moved.

[2022-01-08 02:52] #8 closed, assigned to nobody

[2022-01-08 07:10] Rick1029 commented on #35
Installed: 0.1.0-1635961632-21.10-d0b2d18
Candidate: 0.1.0-1635961632-21.10-d0b2d18

apt and settings don't mention any upgradable packages.

[2022-01-10 17:37] helium18 commented on #35
Can confirm. It happens with me as well. I'm running Pop_OS 21.10 under Wayland.
It persists until I reload.

[code]

[2022-01-10 17:40] helium18 commented on #35
It goes away when I disable Dash to Panel for some reason...

[2022-01-10 20:12] #4 closed, assigned to nobody

[2022-01-11 18:16] lucasvsr opened #37 "Switch workspaces with super + scroll"
Hi, guys!

How about allowing a change of workspaces by pressing the super key + scroll? It's a native behavior of Gnome 40 and I think it would look nice here too, mainly because the desktops are vertical in Pop Cosmic.

[2022-01-14 10:02] SUPERCILEX opened #38 "The latest update to the cosmic workspaces gnome extension breaks everything"
Wasted an hour trying to figure this out. :(

The latest update to `cosmic-workspaces@system76.com` freezes gnome shell completely. The only way to get out is a hard reboot or Ctrl + Alt + F1. The workaround is to run
[code]

[2022-01-14 11:10] oguzkarayemis opened #40 "[Bug] Workspaces view issue in HiDPi Screen Resolution with Scaling"
After the latest pop-shell and cosmic updates, there is an unpleasant gap at the right of the workspaces when scaling %200 on a 3200X1800 screen. When I pass to %100 scaling, this gap gets lost. So I think it's maybe a HiDPi issue.
![Ekran görüntüsü 2022-01-14 14-03-12](https://user-images.githubusercontent.com/80787950/149506051-19e12594-85dc-4e65-b2f1-6e4906725979.png)
![Ekran görüntüsü 2022-01-

[2022-01-14 12:07] Killercv commented on #35
Today after last POP_OS update it was freezing whole laptop you couldn't use any applications. I needed to use super + a  few times to run terminal and turn off all extensions.

[2022-01-14 12:55] oguzkarayemis commented on #40
After I got right-offset value to "200" in cosmic-workspaces config with the dconf editor, it's got fixed.
![Ekran görüntüsü 2022-01-14 15-54-12](https://user-images.githubusercontent.com/80787950/149518674-c450b2ab-6378-4b08-a33a-c157f24a7288.png)

[2022-01-14 19:31] 13r0ck commented on #35
@Killercv fixed by #39

[2022-01-15 00:37] SUPERCILEX commented on #38
Note to self: update this comment if the random freezes still happen. https://www.reddit.com/r/pop_os/comments/o6ak72/comment/hspb0uo/

[2022-01-15 02:43] SUPERCILEX commented on #38
Looks like this fixed it for me: https://github.com/pop-os/cosmic-workspaces/commit/09d34c66a862d1e19ceadf1bc475b2d1db66bb77

[2022-01-15 02:43] #38 closed, assigned to nobody

[2022-01-15 15:46] Killercv commented on #35
Ok, now after update extension is working. But still after locking/unlocking computer I need to restart extension, because interface isn't showing.

[2022-01-25 03:08] cobalt2727 commented on #30
Seems like a result of https://github.com/pop-os/cosmic-workspaces/issues/1, but stuff like this is out of my range of knowledge so I'm not sure

[2022-01-26 01:23] 13r0ck commented on #42
After upgrades, extensions are removed, that behavior is intended by GNOME.

[2022-01-26 01:27] 13r0ck commented on #42
This may have been fixed. Run `sudo apt update && sudo apt upgrade -y && reboot`, after the reboot does that fix the issue?

If not:
How are the accessing the application library?
What is the output of `apt policy gnome-shell-extension-cosmic-workspaces`?
If you press (Alt + F2) and type `r` then press enter `enter` does the issue go away?

If (Alt + F2) fixes the issue, can you please paste the o

[2022-01-26 15:39] duck-dev commented on #42
Hello @13r0ck , thank you very much for reaching out to me.

- Running `sudo apt update && sudo apt upgrade -y && reboot` doesn't fix the issue.
- I'm not quite sure about your question, but I just want to access it with the symbol in the taskbar (see image below, the middle one):
![grafik](https://user-images.githubusercontent.com/61479436/151195018-43d672f4-8693-4d59-b745-0a6db890af96.png)
- The

[2022-01-26 18:19] kmdalton commented on #31
I would appreciate this feature as well. I would also love to be able to change focus using the `SUPER + Direction keys` idiom. @RensAlthuis, would this be at all hard to implement? I had a look at the source, but I am afraid my javascript is not fantastic.

Thanks!

[2022-01-27 13:56] brintal commented on #35
I still have the same issue here. I just upgraded to Pop OS 21.10 yesterday.
After disabling and enabling "Cosmic workspaces" through the Extensions app, It works again.
[code]

[2022-01-27 18:15] 13r0ck commented on #42
Probably related to #35

[2022-01-28 19:48] 13r0ck commented on #35
Can anyone try pop-os/cosmic-workspaces#41 to see if it fixes this issue?

[2022-01-28 19:49] 13r0ck commented on #42
Does #41 fix your issue?

[2022-01-28 20:38] brintal commented on #35
@13r0ck I have cosmic dock completely disabled... so I guess this is unrelated

[2022-01-28 20:42] 13r0ck commented on #35
@brintal incorrect. Cosmic-workspaces has code that calls cosmic-dock code.

[2022-01-28 22:18] HazemSayad opened #43 "[BUG] Workspaces collapses into a dot after locking screen/going inactive"
![Screenshot from 2022-01-24 18-57-37](https://user-images.githubusercontent.com/94578938/151629059-c5e297fd-2abc-444d-8cc6-dbcd5e25e224.png)

Only after the screen goes inactive or the screen is locked, the workspace collapses to a dot. I was able to reproduce it constantly after locking my screen (Super+Esc) or setting the blank screen to 1 min

[2022-01-28 22:35] jacobgkau opened #44 "Disappears after setting dock to the bottom in some configurations"
Discovered while testing https://github.com/pop-os/cosmic-workspaces/pull/41 (but not related to that PR):

**Steps to recreate:**
1. Set the settings to:
        - Dock always hide
        - Dock extends to edges
        - Dock on the right
        - Workspace picker on the right
2. Restart GNOME Shell
3. Move dock to bottom

**Actual behavior:** Workspace picker disappears until next GNOME Shell

[2022-01-29 00:29] Rick1029 commented on #35
Issue is still there on Nvidia, fixes on shell restart like usual. Haven't tested on Intel though.

[2022-01-29 00:43] 13r0ck commented on #35
@Rick1029
Thank you!
Can you reboot, reproduce the error then paste the output of  `journalctl -b 0` here please?

[2022-01-29 03:15] Rick1029 commented on #35
Rebooted, suspended, and resumed then ran it, the output after resume is here:
https://gist.github.com/Rick1029/13f0f08a6892a2877f9cebce2e6797cc

Full output after restarting shell to fix is here:
https://gist.github.com/Rick1029/7a53072be1580b357c17a276467a2dce

[2022-02-01 01:10] Rick1029 commented on #35
Tested on Intel as well, the same issue. I'm also seeing corruption of text and UI elements after resume on Nvidia after installing #41 but that might be a coincidence, not sure.

[2022-02-01 01:32] 13r0ck commented on #35
Thank you!
The text corruption is a known issue related to the nvidia driver. If you have a picture, feel free to open an issue in pop-os/nvidia-graphics-drivers

[2022-02-01 02:30] 13r0ck commented on #35
How about #45?

If that doesn't work please provide me with a step my step example of how to reproduce from a clean install of Pop!_OS

[2022-02-01 02:31] 13r0ck commented on #40
Does #25 fix your issue?

[2022-02-01 02:32] 13r0ck commented on #43
Can you please provide more information about your configuration?
It seems like you have quite a few extensions enabled, does the bug still persist even if you disable all other extensions?

[2022-02-01 02:33] 13r0ck commented on #32
Similar to #35

[2022-02-01 02:35] 13r0ck commented on #27
This is intentional. Please use the cosmic launcher! (Activated by pressing `Super` by default)

[2022-02-01 02:35] #27 closed, assigned to nobody

[2022-02-01 02:39] 13r0ck commented on #44
What display did you see this on? I am not immediately seeing this

[2022-02-02 06:29] oguzkarayemis commented on #40
Sorry for late response, there is no issue now. It works as expected. Thank you very much.

[2022-02-02 07:49] ghost commented on #43
It's the same issue #35 #32. The yellow dot is the border colour of the active workspace , as there's no workspace view on screen due to the bug it just collapsed into a dot.

[2022-02-02 13:19] HazemSayad commented on #43
@13r0ck Yes, I made sure to isolate the reason and it was workspaces extension. But if it is of any importance, i did an upgrade from 21.04 to 21.10 instead of a fresh install. I discussed with reddit before submitting this issue and i found that many complain from the same issue. If i can assist you more, please do tell

[2022-02-02 14:32] #40 closed, assigned to nobody

[2022-02-02 17:44] 13r0ck commented on #32
Author said #43 [is the same](https://github.com/pop-os/cosmic-workspaces/issues/43#issuecomment-1027668563)

Closing in favor of #43 because of a screenshot

[2022-02-02 17:44] #32 closed, assigned to nobody

[2022-02-02 17:46] 13r0ck commented on #43
Please provide me with the version both of you are using
`apt policy gnome-shell-extension-cosmic-workspaces`

I am unable to reproduce the bug on a clean install of Pop!_OS.

My attempt:
1. Put dock on right
2. Open workspaces view (`Suoer` + `d`)
3. suspend machine (tried both suspend and lock)
After suspend I am still seeing the same sized workspaces picker

@HazemSayad & @olfREG314 Please prov

[2022-02-02 18:10] 13r0ck commented on #44
I saw this too. I'm not sure exactly what I did to make it happen either...
I didn't have to restart gnome shell though

[2022-02-02 18:14] HazemSayad commented on #43
@13r0ck
[code]
My steps to reproduce it consistently:
1. Restart `cosmic-workspaces` extension just to start clean and a working workspaces (since usually mine goes into dot mode)
2. Test to make sure all looks good; view the workspaces with `Super+D` (works good)
3. Changing the state of the screen from sleep to awake seems to trigger it, so on my end i can trigger it using:
  a. `Super+Esc` to l

[2022-02-02 18:15] 13r0ck opened #46 "Dock Closes in Workspaces View"
When the dock is set to either `Always Hide` or `Intelligently Hide`it will open and stay open in the workspaces view until hovered, then it will minimize, when it shouldn't.

https://user-images.githubusercontent.com/58987761/152213169-ccc04edd-a485-4f50-bf1f-a7a264fc9792.mp4

With certain configurations this can lead to the workspaces picker to jump.

https://user-images.githubusercontent.com/58

[2022-02-02 18:27] 13r0ck commented on #43
Thank you! I'm still not seeing the bug unfortunately

Are you connected to any external displays?
What is your laptop's resolution?
Do you have any scaling settings applied?
Have you changed any values for cosmic workspaces in your dconf-setttings?
Can you link me the reddit discussion? I would like to see if anything someone else has said can help me reproduce it

[2022-02-02 18:45] HazemSayad commented on #43
Did you try a 21.04 to 21.10 upgrade?

Non, just the laptop's display

![image](https://user-images.githubusercontent.com/94578938/152216866-a2dc6fb2-f050-4ce6-b5b1-a039a13d8477.png)

Non, never touched it

Useless, but [here it is](https://www.reddit.com/r/pop_os/comments/sbpove/bug_workspaces_applications_preview_gets_hidden/)

Though this only started happening right after the upgrade from 21.0

[2022-02-02 19:36] XV-02 commented on #44
I think I have a method for reproduction:

### Steps

1. With dynamic workspaces, have two workspaces open, one active and one standby
2. Enable dock
3. Set visibility to "Always hide" or "Intelligently hide"
4. Set dock location to either left or right side of screen
5. Enter Workspace View
6. Leave Workspace view
7. Change dock location to bottom of screen
8. Enter Workspace View

At this point

[2022-02-02 21:12] XV-02 commented on #44
Additionally, I also noticed another issue which seemed contingent upon this one, and might help diagnostically:

### Description

After having set-up the larger disappearing workspace picker issue, I was able to cause the workspace picker to disappear and reappear by closing (disappear) or opening (reappear) a window in the standby workspace (transitioning from 1 active/ 1 standby to 2 active/ 1

[2022-02-02 23:00] 13r0ck commented on #43
I was able to reproduce the bug. I can confirm it will be fixed after #45 is released.

The steps to reproduce.
1. Disable cosmic-dock
2. Enable floating-dock

[2022-02-02 23:08] HazemSayad commented on #43
nice catch, how is the dock connected to the worspaces extension btw? tho in my testing, i didn't turn on any dock, neither the cosmic nor floating and i confirmed it was workspaces related instead of some other 3rd party extension. again, nice catch! and thanks to the whole team from system76 <3

[2022-02-03 03:24] 13r0ck commented on #43
Gnome extensions have an API to interact with eachother. [This](https://github.com/pop-os/cosmic-workspaces/blob/master_impish/util.js#L65) is the function cosmic-workspaces uses to get the dock object, which we can then read/write any data from there we like.

Hmm, interesting that you were able to get it without another extension. Either way, something is setting he workspaces picker's height to

[2022-02-03 07:40] senntore opened #47 "Context menu on desktop remains visible when using touchpad gesture to navigate workspaces"
**Issue:**
title

**Steps to Reproduce**:
1. Right click on desktop to open the context menu
2. Use gesture to move up or down a workspace, or open the workspaces view
3. See the issue.

**Screen cast of the issue**:

https://user-images.githubusercontent.com/58325574/152300574-b7241d3a-5244-4d43-b444-8a7d9b24b545.mp4

**Expected Behavior**:
Context menu should be closed when gestures for workspac

[2022-02-03 09:54] ghost commented on #43
gnome-shell-extension-cosmic-workspaces:
  Installed: 0.1.0~1643679642~21.10~fb53648
  Candidate: 0.1.0~1643679642~21.10~fb53648
  Version table:
 *** 0.1.0~1643679642~21.10~fb53648 1001
       1001 http://apt.pop-os.org/release impish/main amd64 Packages
       1001 http://apt.pop-os.org/release impish/main i386 Packages
        100 /var/lib/dpkg/status

Hey, I tried with cosmic-dock everything i

[2022-02-05 02:41] Rick1029 commented on #35
Issue is still present after install #45. I'm not sure about reproducing from a clean install since I don't have a way to do a fresh install but these are the steps I take to reproduce.

Start computer on either Intel or Nvidia graphics. Workspaces overview is usually working out of the box (Once on Nvidia I've noticed it didn't work straight after boot and needed a shell reset - doesn't seem comm

[2022-02-07 21:46] jsaxx opened #48 "Dash to Panel conflicts - thumbnails issue"
When using the extension alongside dash to panel, the workspace thumbnails are bugged.

Toggling the extension on-off did intermittently fix the issue, but only up until reboot.

![2022-02-07_22-47](https://user-images.githubusercontent.com/71516796/152877519-ac713826-a744-490c-9cde-07c4a5e80057.png)

[2022-03-04 11:54] rafaeltgt opened #50 "[Pop!_OS] Shortcuts for "Move to workspace left"/"Move to workspace right" are not configurable via GUI after disabling COSMIC Workspaces"
**(1) Issue/Bug Description:**
I'm using Pop Os with Cosmic Dock, Cosmic Workspaces and Pop COSMIC extensios disabled. I noticed that the shortcuts for switching workspaces stop working after disabling Cosmic Workspaces extension.

After disabling cosmic workspaces extension, the shortcuts for "Move to workspace above / below" won´t work anymore, even if I add a custom shortcut, it does not work.

[2022-03-04 15:41] jacobgkau commented on #50
Stock GNOME 40/41 does not have vertical workspaces. Without COSMIC Workspaces enabled, your workspaces should be horizontal, so the shortcuts for "Move to workspace left/right" would be needed instead. Are you using a different extension to achieve vertical workspaces without COSMIC Workspaces?

[2022-03-04 15:49] rafaeltgt commented on #50
I'm not using additional extension.
There is no "Move to workspace left/right" shortcut in settings

[2022-03-04 16:16] jacobgkau commented on #50
It was patched out for Pop!_OS: https://github.com/pop-os/mutter/commit/01e827fe92163949a2324ecad0ec4c578c4cb2b0

You can set it via the terminal with these commands:

[code]

The "issue" here is that the GUI doesn't change which shortcuts are configurable in GNOME Control Center based on whether the extension is enabled or disabled.

[2022-03-04 17:27] rafaeltgt commented on #50
@jacobgkau Thank you. It worked.

[2022-03-09 20:47] Senshi00 commented on #35
I have the same issue. Can reproduce by simply locking the screen and logging back in.

[2022-03-16 00:21] 13r0ck commented on #16
I believe this is fixed by #25

[2022-03-16 00:24] 13r0ck opened #52 "Broken in Jammy"
tracking issue. Already fixed by #51

[2022-03-16 14:05] #52 closed, assigned to nobody

[2022-03-23 01:51] #16 closed, assigned to jackpot51, 13r0ck

[2022-03-23 21:09] cobalt2727 commented on #30
I should also note the colored outline surrounding the password entry box on the login screen also has the same issue

[2022-03-25 14:36] jackpot51 opened #53 "Workspace previews not working correctly on GNOME 42"
Secondary monitor previews are often in the wrong spot and too small, primary monitor previews are often too small.

[2022-03-29 00:46] 13r0ck commented on #53
Closed via #54

[2022-03-29 00:46] #53 closed, assigned to 13r0ck

[2022-03-29 17:41] leviport opened #55 "22.04: workspace OSD is horizontal / default Gnome"
The styling of the workspace indicator OSD when changing workspaces is default Gnome and horizontal:

![Screenshot from 2022-03-29 11-04-15](https://user-images.githubusercontent.com/13512097/160672370-01caf271-7fe2-4ede-beb1-a0905e3b5083.png)
![Screenshot from 2022-03-29 11-04-16](https://user-images.githubusercontent.com/13512097/160672382-eb774169-3634-46d6-874c-ec8e011cf98c.png)

It also colli

[2022-03-29 19:13] jackpot51 commented on #55
It looks like #56 will try to fix this

[2022-03-30 22:48] jacobgkau opened #57 "22.04: Workspaces menu stops showing display thumbnails after changing dock position"
...until GNOME Shell is restarted.

Not sure if it's similar to https://github.com/pop-os/cosmic-workspaces/issues/44 in cause, but the symptom is kind of different/opposite, and this one's new with 22.04.

[2022-03-31 02:29] #50 closed, assigned to nobody

[2022-03-31 02:32] 13r0ck commented on #57
Duplicate of pop-os/cosmic-dock#129

[2022-03-31 02:32] #57 closed, assigned to nobody

[2022-03-31 23:13] postnick opened #58 "[Feature Request] Toggle Workspace: Horizontal or Vertical"
Some users prefer horizontal, some users prefer vertical workspace and corresponding gestures. I know people are passionate one way or another.

I propose an option on the gnome settings > Desktop > Workspace tab to allow the user to decide the direction they like to go. I'm very used to pure GNOME gestures and they seem right to me.  Gesturing up should pull up applications to me, so having the a

[2022-04-05 02:59] 13r0ck commented on #58
Pop!_OS comes pre-installed with gnome-extensions. You can disable the cosmic-workspaces extension there :smile:

[2022-04-05 03:00] 13r0ck commented on #48
Duplicate of #43

[2022-04-05 03:00] #48 closed, assigned to nobody

[2022-04-05 11:01] Chinchzilla opened #59 "Pop!_OS 22.04 Beta - Workspaces are broken"
Hello System76,

after update 5th of April 2022, the application launcher and menu were fixed, but workspaces are completely broken. When you click workspaces, you just see a wallpaper and can interact only with system tray, dock disappears,only fix is to restart the shell or log out and login.

Thank you for your work and effort, we appreciate you!

Regards,
Chinchzilla

[2022-04-05 15:42] leviport commented on #59
Might be fixed by https://github.com/pop-os/cosmic-workspaces/pull/56

[2022-04-05 16:41] jacobgkau commented on #58
It's worth noting that making this configurable is on the roadmap for COSMIC, it's just not something currently implemented.

I am closing this feature request as a duplicate of https://github.com/pop-os/cosmic/issues/30, thank you for the report.

[2022-04-05 16:41] #58 closed, assigned to nobody

[2022-04-07 16:22] #55 closed, assigned to 13r0ck

[2022-04-08 02:24] 13r0ck opened #60 "Gnome-shell warnings when workspaces view is open"
[code]

On 22.04. Happens every time the workspaces view is opened.

[2022-04-08 02:25] 13r0ck commented on #59
#56 has been merged. Please upgrade your system tomorrow and workspaces should be working again.

[2022-04-08 02:25] #59 closed, assigned to nobody

[2022-04-08 02:26] 13r0ck commented on #44
Does this still occur in 22.04 after #56 ?

[2022-04-08 02:28] 13r0ck opened #61 "Disableing Cosmic-Dock breaks workspaces"

[2022-04-08 20:25] #61 closed, assigned to 13r0ck

[2022-04-08 20:54] #60 closed, assigned to 13r0ck

[2022-04-11 20:46] cobalt2727 commented on #30
@13r0ck is this being worked on for 22.04?

[2022-04-11 21:28] 13r0ck commented on #35
After further research this is a gnome-shell conflict. This is not a bug of cosmic-workspaces.

Because the way extensions work in gnome-shell each extension is just overriding functions in gnome-shell at run time. If two extensions try to re-write the same gnome-shell extension it will cause a conflict. Which is what happens here with cosmic-workspaces and any dock/dash extension.
So then by the

[2022-04-11 21:28] #35 closed, assigned to nobody

[2022-04-11 21:29] 13r0ck commented on #43
Reason for closing in related issue here: https://github.com/pop-os/cosmic-workspaces/issues/35#issuecomment-1095584310

[2022-04-11 21:29] #43 closed, assigned to nobody

[2022-04-11 21:46] 13r0ck commented on #30
Not in time for 22.04, but system-wide themeing is very high on the list for the Rust based desktop environement that is planned for release in the Pop!_OS release after 22.04 :smile:

If you would like to modify the color on your current install you can compile a custom version of cosmic-workspaces with the color you like:

[code]
Edit [this line](https://github.com/pop-os/cosmic-workspaces/blob/

[2022-04-12 02:05] cobalt2727 commented on #30
wow, thanks for the detailed reply! I'll give that a shot when I get some time and let you know how it goes.

[2022-04-12 16:21] #46 closed, assigned to nobody

[2022-04-13 08:47] Linuxbeta opened #64 "Autologin doesn't work"
When automatic login on start-up is selected on pop!_OS 22.04 beta, the pc doesn´t automatically login on start-up. Can you please fix this, so the pc will automatically login on start-up? Thanks!

![Screenshot from 2022-04-13 10-46-23](https://user-images.githubusercontent.com/103190070/163137513-ee34c06e-9c34-4dd8-a1a2-12bb6ad19b70.png)

[2022-04-13 16:20] jacobgkau opened #65 "[22.04] "Configure in Settings" button not working"
The button within the extension preferences window that is supposed to open the Desktop section of Settings does not work.

https://user-images.githubusercontent.com/7199422/163225339-b17ffe07-a9a5-447d-a6ad-8f785b77b78b.mp4

As shown in the video, it does still work for the main COSMIC extension, so the issue is specific to cosmic-workspaces.

[2022-04-14 14:43] #65 closed, assigned to nobody

[2022-04-23 16:36] hanna-brooks opened #67 "Cosmic Workspaces Fails to Load"
## Steps to Reproduce:

1. Start a gnome session (reboot, login, alt-f2 'r')

  ## Expected Behavior

Cosmic Workspaces loads without error in Gnome LookingGlass. Workspaces accessible in activites view.

## Actual behavior:

Error 'proto not defined' in Gnome LookingGlass

Error in journalctl:

[code]

Error references *util.js*:

[code]

[code]

referenced by *overviewControls.js*

[code]

refer

[2022-04-23 18:17] camden-bock commented on #67
I was able to replicate this issue on a Manjaro system with AMD graphics after updating to Gnome 42 with Kernel 5.15.

No issue on Gnome 41.

In a fresh gnome session, a horizontal workstation switcher will display in the activities view. However, it is not functional. (Screenshot of multimonitor config)

![image](https://user-images.githubusercontent.com/11202512/164934759-8f78e443-8798-4351-9fab

[2022-04-23 18:37] camden-bock commented on #67
philm at Manjaro forums notes that the Gnome 42 update breaks COSMIC on Manjaro. [Manjaro Forums](https://forum.manjaro.org/t/unstable-update-2022-04-07-gnome-42-mesa-22-0-1-octopi-0-13-0-kde-git-haskell/107784)

[2022-04-26 11:44] sysdrum opened #68 "Cosmic - Workspaces | alignment issue | Right Side of screen | > 4 workspaces"
At this time the right side of screen alignment gap issue has not gone away when using greater than 4 workspaces.
![issuewithcosmicworkspaces](https://user-images.githubusercontent.com/6105336/165292668-b818609a-8689-4b97-994f-e05445a4a84a.jpg)

[2022-04-26 16:40] leviport commented on #68
Thanks for the report!

@13r0ck is this one you want to take a look at?

[2022-04-26 18:00] sysdrum commented on #68
Is there tile factor limit at a set resolution?
1080p
1440
4k

[2022-04-26 18:56] 13r0ck commented on #44
@jacobgkau

[2022-04-26 18:57] 13r0ck commented on #67
@camden-bock
COSMIC does work on gnome 42. Pop!_OS 22.04 uses gnome 42. Maybe they are on the wrong branch? Gnome 42 versions must be build off the `master_jammy` branch

@hanna-brooks
Please try using the `master_jammy` branch

[2022-04-26 19:02] 13r0ck opened #70 "[22.04] Close button is not orange"
![Screenshot from 2022-04-26 12-51-58](https://user-images.githubusercontent.com/58987761/165373203-cb66c673-46d7-4eb3-bcbd-54d47c0218a5.png)

[2022-04-26 19:38] 13r0ck commented on #42
https://github.com/pop-os/cosmic-workspaces/issues/35#issuecomment-1095584310

[2022-04-26 19:38] #42 closed, assigned to nobody

[2022-04-26 20:02] 13r0ck commented on #68
@sysdrum I don't understand your question?

[2022-04-26 20:19] sysdrum commented on #68
Well the issue is not happening on my 4k display with 8 workspaces, but at 1440 > 6 it has the issue and 1080p > 4
You made the change moved from an if statement to a constant.
``` const gap = 16 * scaleFactor; ```
I was wondering if it was related to JSON Tile placement ( I am not sure what gnome calls it related to scaling and resolution)

[2022-04-27 17:41] #68 closed, assigned to 13r0ck

[2022-04-28 16:53] postnick commented on #37
I would also voice my support for this. I can get over Vertical vs Horizontal but I HATE jumping between DE and different shortcuts don't work. When working on a desktop this is a killer feature.

[2022-04-28 22:50] n3m0-22 commented on #70
This was fixed by [#578](https://github.com/pop-os/gtk-theme/pull/578)

[2022-04-28 22:50] #70 closed, assigned to nobody

[2022-04-30 19:44] flawpiesammen commented on #44
I have an additional bug where I have my workspaces on the right and the dock on the left side of the screen. Workspaces seem to be extending past the edge of the screen (drawn too far to the right). If I hide the dock the appear properly aligned.

[2022-05-02 00:59] n3m0-22 opened #71 "can't go back to first workspace after moving a window to the second"
`22.04` on `orpy4` and `gaze15`

Steps to reproduce:

1. Turn on Tile Windows
2. On the first workspace open any two windows
3. Move either window to the next workspace with `Super` + `Shift` + `Down`
4. Try to go back to the first workspace with `Super` + `Shift` + `Up`

It won't go back to the first workspace using either keyboard or mouse until you close the window on the second workspace, or m

[2022-05-02 15:06] #71 closed, assigned to nobody

[2022-05-02 16:50] 13r0ck commented on #44
@Jewseephish please do not post unrelated issues in another issue. If you have an issue, please open a new issue.

[2022-05-02 16:52] 13r0ck commented on #44
I believe this has been fixed since the changes to both cosmic-dock & cosmic-workspaces in 22.04

[2022-05-02 16:52] #44 closed, assigned to nobody

[2022-05-04 13:56] ChristopherDillon commented on #29
I would use this feature. Thanks for suggesting it!

[2022-05-15 03:20] halfmexican opened #72 "Custom dock width and height Dconf value?"
I noticed there used to be a enable-disable-dock branch, which included a [dconf value](https://github.com/pop-os/cosmic-workspaces/pull/45/commits/3f8721f164f16feedf2b41bf41856c1fe3e28e7c) to specify the height and width of custom dock. This feature is missing from newer versions of Pop!_OS. I recently forked Dash To Dock which removes conflicting code with Cosmic Workspaces and adds more customi

[2022-06-03 18:46] cobalt2727 commented on #30
@13r0ck Looks great!

![image](https://user-images.githubusercontent.com/60624944/171926966-cf2380ad-f5fe-4ae9-9e57-4e00032023d6.png)

Two minor quirks though:
`dpkg-buildpackage: info: source distribution impish` (might want to update this line)
And when searching for anything, the results are too high up onscreen and overlap with the search box itself, though I'll chalk that up to the extension

[2022-06-03 20:39] 13r0ck commented on #30
@cobalt2727

Nope, very well tested in gnome 42, this has been released for months now on Gnome 42 and works just tine. ( As long as you built from the `master_jammy` branch ) The issue is your custom extension setup. Gnome has an easily breakable extension system, where one extension's changes can cause breaks absolutely anywhere else in gnome-shell including other extensions.

For us to build th

[2022-06-03 20:39] #30 closed, assigned to nobody

[2022-06-03 20:42] cobalt2727 commented on #30
Makes sense. Thanks again for your time!

[2022-06-09 18:42] mijorus opened #74 "Can't move windows between workspaces if I disable cosmic-workspaces"
Like the title says, if I disable the extension Super + Shift + Up/Down doesn't work

[2022-06-12 10:01] ghost opened #75 "The workspaces view has animation glitches when dock is enabled."
This bug was in 21.10 as well.
I've left a video showing the problem: https://youtu.be/pcsJBVm889o

![image](https://user-images.githubusercontent.com/107319089/173227978-1674faed-2c4d-4564-8935-dbfef5459cc1.png)

[2022-06-23 11:09] spacekookie opened #76 "Mouse moves when switching workspace with multiple monitors"
I have GNOME configured to only have one workspace for the external monitor. Whenever I plug my laptop into an external monitor and switch to another workspace (with the gestures), the mouse sometimes jumps to various locations.

From what I have experienced (with a maximised firefox window on the external monitor workspace):

- When switching from an internal workspace with a window to an empty w

[2022-06-23 15:48] n3m0-22 commented on #76
I was able to exactly replicate this issue following the steps listed above.

[2022-06-24 14:47] leviport commented on #76
Does this behavior still happen if you turn off this setting in Extensions > Pop-shell settings?

![2022-06-24_08-46](https://user-images.githubusercontent.com/13512097/175560058-7b4ec7b5-a924-4132-bab8-c86e717440fc.png)

[2022-06-24 14:55] n3m0-22 commented on #76
Yes that fixes it on mine.

[2022-06-29 15:23] leviport commented on #76
That _should_ change the mouse cursor behavior, so I'm going to close this for now. Let us know if the problem persists with that setting deactivated, and we can reopen this issue.

[2022-06-29 15:23] #76 closed, assigned to nobody

[2022-07-02 20:52] deverebor opened #77 "Horizontal workspace view"
It would be interesting for the desktop choice menu to be horizontal and not vertical. This proposes a significant improvement in productivity. Just like it is in the default gnome.

![image](https://user-images.githubusercontent.com/62480586/177015897-5688a0ef-a895-4ce8-beba-acbb68fce69b.png)

I believe it would be an interesting feature to choose between vertical and horizontal. Since in the nea

[2022-07-05 13:15] leviport commented on #77
Duplicate of https://github.com/pop-os/cosmic/issues/30

[2022-07-05 13:15] #77 closed, assigned to nobody

[2022-07-06 03:15] hkdb opened #78 "Option to configure a workspace grid?"
One of the things I have always loved about the workspaces in Gnome back in the old days is that you can do a grid of workspaces as shown below coupled with being able to switch between workspaces with ctrl-alt or super - <Left, Right, Up, and Down> arrows:

![image](https://user-images.githubusercontent.com/38838639/177459017-c82fe55a-02ff-4c4a-b134-6513df5e996f.png)

This can be accomplished wit

[2022-07-10 15:32] SrPennywise opened #79 "Freezing- soft and hard lockups while in "workspaces" overview mode"
Periodically and at random, the view will lockup into 2 primary types of freeze/ lockups:

**Soft lockup**

-Gnome completely locks up where gnome has to be reset using "ALT + F2"

-Gnome locks up for 10-35 seconds, then all open windows disappear from "overview" until "ESC" (whichever key is bound to "workspace" function) is hit to come out of "workspace overview" mode.

-5-8 second lockup when t

[2022-07-11 17:22] mrj0 commented on #76
Ahh thank you, this was driving me nuts. I didn't turn this setting on and I found it unexpectedly moving my cursor after upgrading to 22.04.

[2022-07-12 14:26] ahoneybun commented on #79
This issue is still happening so it's best to keep this open.

[2022-07-27 09:04] juanlb opened #80 "[Feature Proposal] Show app's icons on workspaces preview."
I think it is a good idea to add the possibility to select what to show in the preview of each workspace:
- the thumbnail of each screen (current behavior)
- a list of icons of the open applications.

![image](https://user-images.githubusercontent.com/1746771/181206961-80b9edcd-0d53-4662-9329-1805e050486d.png)

I'm used to having more than one application open in each workspace, and I think showin

[2022-07-27 13:42] leviport commented on #80
Since windows can be dragged from each workspace preview thumbnail, I think this would reduce functionality. For example, my usual workflow involves at least four Firefox windows, usually each on their own workspace. If I want to move a particular window to another workspace, I can usually identify it by the thumbnail preview, then click and drag it. If they're all Firefox logos, I'll have to fumb

[2022-07-27 14:42] juanlb commented on #80
Yep, I understand your point and it makes sense.
But in my workflow I have more than one open app on each workspace (a code editor and one or two terminals by example, or a different text editor), and I have 5 or 6 active workspaces, so identify them just with the "front" app is a little hard some times.
Not to mention that nowadays with the "dark theme" all of them looks very similar with each ot

[2022-08-04 10:27] spacekookie commented on #76
Hey! Sorry for the long delay, I was on vacation :camping:

Disabling that setting fixes this for me too. I'm wondering what that setting is supposed to do though, because it doesn't seem like anyone would want this enabled as a default :thinking: Or is the feature just buggy on multi-monitor setups?

[2022-08-04 14:03] leviport commented on #76
It's a preference thing, but I enjoy the feature, including on my triple-display setups. It moves the mouse cursor to whichever window has focus. That means if I have a window focused on my left display, then shift focus to a window on my right display, I don't have to scoot my mouse all the way across two monitors to click on the newly-focused window.

[2022-08-15 12:59] funnylookinhat commented on #78
The only gnome shell extension I have to install with Pop OS is WS Matrix - https://extensions.gnome.org/extension/1485/workspace-matrix/ - and I'd love to have that built into cosmic workspaces!

[2022-08-16 17:29] Mop5264 opened #81 "focus in workspaces overview disappears partially or completely using arrow keys to navigate"
**Distribution (run `cat /etc/os-release`):**
NAME="Pop!_OS"
VERSION="22.04 LTS"

**Related Application and/or Package Version (run `apt policy $PACKAGE NAME`):**
N/A

**Issue/Bug Description:**
when you have more than one workspace, all of them with open apps, when you press super + d you will see miniatures with opened apps
![image](https://user-images.githubusercontent.com/111230786/184939871-d

[2022-08-16 17:43] n3m0-22 commented on #81
I can replicate this issue, but the focus dot cycles back to the top window preview with one more press of the down arrow. Does that not happen for you?

[2022-08-16 17:55] Mop5264 commented on #81
in simple example like here if I press down arrow one more time then yes, focus dot cycles, but in reality when i have 4 or 5 workspaces with plenty of applications focus dot often disappear and does not cycles at all, you can bring it back by mouse clicking or according to this example, pressing few times up arrow.

[2022-08-16 18:32] n3m0-22 commented on #81
I tested this with between 3 and 8 workspaces and at least 5 apps open on each. I never could get it to disappear completely. I did notice a pattern. If I'm in X after the indicator disappears pressing the down arrow 3 more times cycles it back. In Wayland it only take 2 more presses of the down arrow to cycle back. Changing from dynamic to fixed workspaces seems to have no effect.

[2022-08-16 18:55] Mop5264 commented on #81
i have checked it again, when pressing down arrow, you were right, but when pressed up arrow the focus dot disappear and never shows again.

[2022-08-16 19:08] n3m0-22 commented on #81
After pressing the up arrow I see it disappear, but it comes back if I press the down arrow again. Is that not happening for you?

[2022-08-16 19:17] Mop5264 commented on #81
it works exactly as you describe ;P i meant if you will be pressing only up arrow it will not cycles at all

[2022-10-06 12:30] aesouza98 commented on #37
That would be amazing!
This and the possibility of changing the default gestures 'finger amount'. Would be great to be able to use 3-fingers swipe to change workspaces/open applications menu/open workspaces view, and 4-fingers swipe to change focus.

[2022-10-14 14:16] MohitOhlyan commented on #81
Hey! I was having some trouble with workspace and found this issue. It seems like the `X` Button shows when you hover over the window. Can you try with just hovering your mouse over the windows instead of clicking them?

[2022-11-01 16:15] n3m0-22 commented on #81
@Mop5264 Are you still having this issue?

[2022-11-16 06:25] MohitOhlyan commented on #81
I think it was caused by the Extension and I disabled the extension and after that no.

[2022-11-16 13:49] n3m0-22 commented on #81
@MohitOhlyan as far as I can tell this issue was resolved. When using the arrow keys to navigate overview the up arrow does not cycle backwards on workspaces after the first one, but it does show back up with one click of the down arrow. Is that the issue you were having?

[2022-11-17 03:08] MohitOhlyan commented on #81
Yes I think it is resolved. But now we have a different issue I last checked which is caused by a extension. For now I believe this issue is fixed. I haven't had any problem with Workspaces in last month. Works flawlessly. Awesome work 👍

[2022-11-17 03:16] MohitOhlyan commented on #81
I will like to add is that the focus do get back as soon as you hover it with mouse. I believe it is a feature not a bug. If your mouse pointer is not on any window in workspaces, there is no focus then.

[2022-11-17 05:11] #81 closed, assigned to nobody

[2022-11-17 22:42] n3m0-22 opened #82 "windows are not tiling properly on multi display"
`Pop!_OS 22.04`
`lemp11`
`Lenovo Q24h-10` as primary display (USB-C display and power)

With a dual display setup Alacritty is not tiling next to the existing window but on top of it.

Steps to recreate:

1. Enable tiling
2. Workspaces on Primary Display Only
3. Open any window on the first workspace (primary display)
4. On the second workspace open any two windows (easier to reproduce if the seco

[2022-11-24 18:16] Mop5264 commented on #81
Hi, now i see improvement in how workspaces behave, but still when i open few of them after pressing arrow down few times focus dot disappear (this issue does not occur when i have one workspace)
![img1](https://user-images.githubusercontent.com/111230786/203846417-674c424e-a9c5-41aa-950e-5004d9f742af.png)
![img2](https://user-images.githubusercontent.com/111230786/203846433-f78aa127-446d-4ef1-a4e